<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
    <link rel="stylesheet" href="estilos/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="estilos/corazon.png" />
</head>
<body>
    <div class="navegador">
        <nav class="barra">
            <div class="enlaces">
            <a href="index.html" class="inicio">Inicio</a>
            <a href="about.html" class="sobre-nosotros">Acerca de nosotros</a>
            <a href="donacion.html" class="donacion">Contribuye a nuestro proyecto</a>
            <a href="" class="contacto">Contactanos</a>
        </div>
        </nav>
    </div>

    <section class="cuadro2">
        <div class="nino">
            <img src="estilos/mons.png" alt="" class="nino2">
        </div>        
    </section>
    <div class="parrafo">
        <h1 class="quienes">Quienes somos</h1>
        <p class="parrafo2">
            Somos una fundación sin animo de lucro de la ciudad de Medellín, llevamos mas de 10 años trabajando junto a personas de escasos recursos ayudándoles con su lucha contra el cáncer, ademas hemos ayudado a mas de 1300 personas, uno de nuestros principales objetivos es servir al desfavorecido y ayudar a todas las personas y familias a ganar una batalla que si tiene solución, puedes apoyar nuestra causa con donaciones y servicio voluntario.
        </p>
        <p class="siguenos">Síguenos en nuestras redes sociales para estar al tanto de nuestras actividades y anímate a ayudar como voluntario</p>
    </div>

    <div class="redes">
        <a href="https://www.facebook.com/?ref=logo" target="_blank"><img src="estilos/fb.png" alt="" class="icono1"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="estilos/ins.png" alt="" class="icono2"></a>
        <a href="https://twitter.com/explore" target="_blank"><img src="estilos/tww.png" alt="" class="icono3"></a>
        <a href="https://www.whatsapp.com/" target="_blank"><img src="estilos/wpp.png" alt="" class="icono4"></a>
    </div>
    
</body>
</html>