<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundación florecer</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="estilos/corazon.png" />

</head>
<body>
    <div class="navegador">
        <nav class="barra">
            <div class="enlaces">
            <a href="index.html" class="inicio">Inicio</a>
            <a href="about.html" class="sobre-nosotros">Acerca de nosotros</a>
            <a href="donacion.html" class="donacion">Contribuye a nuestro proyecto</a>
            <a href="" class="contacto">Contactanos</a>
        </div>
        </nav>
    </div>

    <section class="cuadro">
        <div class="icono">
            <img src="static/Recurso 2.png" alt="" class="logo">
        </div>

        <div class="imagen">
            <img src="static/vectores.png" alt="" class="mujer">
        </div>

    </section> 

    <div class="frase">
        <h1 class="bienvenido">Bienvenido</h1>
        <p class="z">
            somos la fundación florecer,
             Ayudamos a personas de bajos recursos en su lucha contra el cáncer. llevamos mas de 10 años trabajando para que muchas personas y familias
            ganen esta batalla, si deseas saber mas sobre nosotros puedes visitarnos,
            estamos ubicados en xxxxxx-xxxxx.</p>
    </div>

    <div class="motivadora">
        <p class="miedos">Alimenta tu fe y tus miedos se morirán de hambre</p>
    </div>
</body>
</html>